.about-container {
  margin: 0 auto;
  padding: 25px;
}

.about-container h1 {
  color: #2f855a;
}

.about-container h2 {
  color: #2f855a;
  margin-top: 20px;
}

.about-container ul {
  list-style: none;
  padding: 0;
}

.about-container li {
  margin-bottom: 10px;
}
.git-logo-about {
  color: #2f855a;
  height: auto;
  width: 35px;
  padding-left: 10px;
}
.footer{
    text-align: center;
    justify-content: center;
    display: flex;
    margin-bottom: 20px;
}
h2{
  font-size: 25px;
}
.about-text{
  font-size: 15px;
  text-align:justify;
}