.user-data {
  min-width: 0;
  width: 250px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  color: #333;
  margin: 20px 5px 20px 5px;
}

.know-more:hover {
  transform: scale(1.1);
  box-shadow: #f0fff4 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.detail {
  font-weight: bolder;
}

.name {
  color: #2f855a;
}

.user-data p {
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .user-data {
    width: 80%;
  }
}

.container {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.input-search {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
